@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoff" }))
                {
        @Html.AntiForgeryToken()
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            @Html.ActionLink("مرحبا يا"+User.Identity.GetUserName(),"index","manage")
                        </li>
                        <li>
                            <a href="javascript:document.getElementGyId('logoff').submit()">تسجيل الخروج</a>
                        </li>
                    </ul>
                }
}
else 
{ 
<ul class="nav navbar-nav navbar-right">
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-log-in"> </i>
            تسجيل الدخول
        </a>
    </li>
    <li>
        <a href="#">
            <i class="glyphicon glyphicon-lock"> </i>
            اشتراك
        </a>
    </li>
</ul>
}

